{% extends 'main.html' %}


{% load static %}






{% block content %}
<br>

        <div class="row">

            <div class="col-2" style="margin-left: 100px; margin-top: 24px;"> 
                <div class="card" style="width: 18rem; " >
                    <img src="{% static 'images/p.jpg' %}" class="card-img-top" alt="admin">
                </div>
            </div>


            <div class="col-5" style="margin-left: 100px; margin-bottom: 50px;"> 

                <h4>ame of School: Aswan School </h4>
                <h4>Email : AswanSchool@gmail.com</h4>
                <h4>Phone : 01125984440</h4>
                <h4>Adress : Aswan</h4>
                <h4>Manager : Mr/Abdulshakour Aref</h4>

            </div>

        </div>




     

        



{% endblock %}