{% extends 'main.html' %}




{% block content %}


<hr>
     
<h2>Add New Class</h2>
<div class="col-5"style="margin-left:29.5% ; ">
  <div class="card card-body" style="background-color: #34495e;">
    <form method="post">
      {% csrf_token %}
      <h3 style=" margin-left: 10px; font-size: 25px; color:#1abc9c;">{{form.errors}}</h3> 
      <h3 style=" margin-left: 10px; font-size: 25px; color:#1abc9c;">Name {{form.name}} </h3> 
      <h3 style=" margin-left: 10px; margin-top: 18px; font-size: 25px; color:#1abc9c;">Techer {{form.techers}}</h3>
      <button type="submit" class="btn btn-warning" style="float: left; margin-top: 18px;  margin-left: 43%; font-size: 15px;">Submit</button>
    </form>
    
  </div>

</div>




{% endblock %}