{% extends 'main.html' %}

    

    
{% block content %}


<hr>


    <h2>Students</h2>
    <div class="row">
      <div class="col" >
        <h3 style="float: left; margin-left: 5.5%; font-size: 30px; color: white;">Add Students: </h3> 
        <a style="float: left; margin-left: 15px;" href="{% url 'add_students' %}" type="button" class="btn btn-warning">Add</a>

        <form method="get">
          {% csrf_token %}
        <h3 style="float: left; margin-left: 10px; font-size: 30px; color: white;">Searsh: </h3> 
        <h3 style="float: left; margin-left: 10px; font-size: 25px; color:#1abc9c;">Name {{myFilter.form.name}} </h3> 
        <h3 style="float: left; margin-left: 10px; font-size: 25px; color:#1abc9c;">Stage {{myFilter.form.stage}}</h3>
        <button type="submit" class="btn btn-warning" style="float: left; margin-left: 10px; font-size: 15px;">Searsh</button>
        </form>

      </div>
    </div>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Stage</th>
            </tr>
            </thead>
            <tbody>
                {% for i in Studentes %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.adress}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.stage}}</td>
            </tr>
            {% endfor %}
            <tbody>
        </table>


    </div>



{% endblock %}
